/* Style file for entire webpage - Possibly could change in the future */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 13%, rgba(37,67,242,1) 50%, rgba(255,255,255,1) 87%);
    background-repeat: no-repeat;
    background-size: stretch;
    font-size:22px;
	line-height: 32px;
	color: hsl(0, 0%, 36%);
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 100vh;
    top: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 25px;
    margin: 5px auto;
    padding: 5px;
    color: white;
    text-wrap: wrap;
}

.header h1 {
    margin: 10px 0;
    padding: 0;
    line-height: 1.1;
}

#navbar-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 1;
}

p {
	text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
	padding: 0px;
    margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
    position: relative;
	display:inline-block;
}

nav a {
	display:block;
	padding:0 10px;	
	color: black;
	font-size:20px;
	line-height: 60px;
    text-decoration: none;
}

nav a:hover { 
	background-color: whitesmoke;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
    position: absolute;
    background-color: white;
	top: 60px; /*the height of the main nav*/
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul{
	display:inherit;
    position: absolute;
}


nav ul ul li:hover > ul {
    display: inherit;
    position: absolute;
    left: 200px;
    top:-30px;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
	float:none; 
    position: relative;
    z-index: 1;
    border: solid 1px rgb(191, 191, 191);
}

 nav ul ul ul li {
    position:relative;
    width: 240px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }


#main-page-container {
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
    max-height: 85vh;
    max-width: 90vw;
    overflow: atuo;
}

.left-main-page {
    overflow:auto;
    flex: 1;
    border: 1px solid whitesmoke;
    list-style:none;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-main-page li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-main-page ul {
    list-style:none;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opstine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.opstine-container li p {
    color: black;
    font-weight:900;
}

.opstine-container li ul {
    display: none;
    list-style: none;
}

.opstine-container li:hover > ul {
    display: inherit;
}

.controler-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controler-list-container li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.controler-list-container li p {
    margin: 5px;
}

.controler-list-container li button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
}

.controler-list-container li button a {
    text-decoration: none;
    text-emphasis: none;
    color: inherit;
}

.controler-list-container li button:hover {
    opacity: 80%;
}

.right-main-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    border-left: 0px;
}

.upper-right-main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 20%;
}

.search_opstine_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search_opstine {
    width: 60%;
    font-size: 20px;
    margin: 5px;
}

.search_opstine_button {
    width: 20%;
    margin: 5px;
}

.lower-right-main-page {
    max-height: 80%;
    overflow: auto;
    justify-content: center;
    padding: 10px;
}

.vesti_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vesti_container ul {
    list-style: none;
}

.vesti_container ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    align-items: center;
    max-height: 80vh;
    max-width: 90vw;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    height: 40px;
    font-size: 25px;
    margin: 5px;
}

.form-container input {
    height: 25px;
    width: 200px;
}

.form-container label input {
    width: 20px;
}

.form-container button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 22px;
}

.form-container button:hover {
    opacity: 80%;
}

#news-page-container {
    display: block;
    background-color: white;
    width: 100%;
    max-height: 85%;
    overflow: auto;
}

#news-list-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: auto;
}

#news-list-element li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 10px;
}

#news-list-element li p {
    margin: 0;
    padding: 0;
    align-items: center;
}

#news-list-element h5 {
    padding: 5px;
    margin: 0px;
}

#voting_place_add_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
}

#municipality-page-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
}

#municipality-list-element {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#municipality-page-container li {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    max-height: 85%;
    overflow: auto;
}

#municipality-page-container li p {
    margin: 0px;
    width: 100%;
    border: 1px solid black;
}



.dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
}
#results-container-wrapper {
    width: 100%;
    max-height: 80vh;
    overflow: auto;
}
#results-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding to the container */
    box-sizing: border-box;/* Include padding and border in the container's total width and height */
}

#results-container p {
    margin: 0;
    padding: 2px;
    border: 1px solid black;
}
#results-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 5px;
}
#results-container ul li ul {
    width: 100%;
}

#results-container ul li ul li {
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    width: 100%;
}

@media (max-width: 612px) {
    body{
        max-width: 100%;
    }

    #navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }
    
    nav ul ul {
        display: none; /* Hide submenus by default */
        top: 0px;
    }
    
    nav ul li:hover > ul {
        display: flex; /* Show submenus on hover */
        flex-direction: column;
        justify-content: center;
        position: relative; /* Adjust positioning */
    }

    nav ul ul li {
        width: 100%;
    }

    nav ul ul li:hover > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 0px;
        top: 0px;
    }

    nav ul ul ul li {
        width: 100%;
        display: relative;
    }

    #main-page-container {
        flex-direction: column;
        max-width: 100vw;
    }

    .right-main-page {
        display: none;
    }
}

/* style.css */

/* style.css */

#clock-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.clock-hand {
    position: absolute;
    background-color: black;
}

#hour-hand {
    height: 30px;
    width: 4px;
    top: 30px;
    left: 58px;
    transform-origin: bottom center;
    transform: translateY(-50%) rotate(90deg);
}

#minute-hand {
    height: 40px;
    width: 3px;
    top: 20px;
    left: 58px;
    transform-origin: bottom center;
    transform: translateY(-50%) rotate(180deg);
}

#second-hand {
    height: 50px;
    width: 2px;
    top: 10px;
    left: 58px;
    transform-origin: bottom center;
    transform: translateY(-50%) rotate(270deg);
    background-color: black;
}

.number {
    position: absolute;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

#number-12 {
    top: -8px;
   
}

#number-1 {
    top: -2px;
    right: 30px;
}

#number-2 {
    top: 17px;
    right: 10px;
}

#number-3 {
    top: 43px;
    right: 3px;
}

#number-4 {
   top: 70px;
   right: 10px;
}

#number-5 {
    top: 90px; 
    right: 30px;
  
}

#number-6 {
    top:96px;
   
}

#number-7 {
    top:90px;
    left:30px;
}

#number-8 {
    top: 69px;
    left:10px;

}

#number-9 {
    top:43px;
    left:3px;

}
 
#number-10{
    top: 17px;
    left: 10px;

}

#number-11{
    top:-2px;
    left: 30px

}

.point {
    position: absolute;
    background-color: red;
    width: 4px;
    height: 4px;
    border-radius:50%;  
}
