/* Style file for entire webpage - Possibly could change in the future */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
    background: linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(237,237,237,1) 77%);
    font-size:22px;
	line-height: 32px;
	color: hsl(0, 0%, 36%);
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    height: 100vh;
    margin: auto;
}

.header {
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
}

#navbar-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

p {
	text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
    text-decoration: none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
    background-color: grey;
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul{
	display:inherit;
}

nav ul ul li:hover > ul {
    display: inherit;
    left: 202px;
    top:-30px;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
	float:none;
	display:inherit;
	position: relative;
    border: solid 1px rgb(191, 191, 191);
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }


#main-page-container {
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-main-page {
    flex: 1;
    border: solid 2px black;
}

.right-main-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
}

.upper-right-main-page {
    height: 20%;
    border: solid 2px black;
}

.lower-right-main-page {
    height: 80%;
    border: solid 2px black;
}